$colors: (
  red: red,
  blue: blue,
  green: green,
  yellow: yellow,
);

$reds: (
  FFEBEE: #ffebee,
  FFCDD2: #ffcdd2,
  EF9A9A: #ef9a9a,
  E57373: #e57373,
  EF5350: #ef5350,
  F44336: #f44336,
  E53935: #e53935,
  D32F2F: #d32f2f,
  C62828: #c62828,
  B71C1C: #b71c1c,
  FF8A80: #ff8a80,
  FF5252: #ff5252,
  FF1744: #ff1744,
  D50000: #d50000,
);
