@import "./config/colors";

@import "./components/create-schedule.scss";
@import "./components/palette.scss";
@import "./components/palette-affiliation.scss";

/* global */

body {
  width: 1200px;
  margin: 120px auto 0 auto;
}

@mixin mixin-color-palette($palette) {
  @each $color, $value in $palette {
    .#{$color} {
      background-color: $value;
    }
  }
}

@include mixin-color-palette($colors);
@include mixin-color-palette($reds);
